# pandas 資料清理使用筆記

# 資料缺值處理

In [267]:
import pandas as pd

df = pd.read_csv('data/NFL Play by Play 2009-2017 (v4).csv.zip', compression='zip')

C:\Users\mark\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.shape

(407688, 102)

In [20]:
df.head(100)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009
5,2009-09-10,2009091000,2,1,1.0,13:16,14,3496.0,11.0,TEN,...,NaN,0.558929,0.441071,0.578453,0.421547,0.441071,-0.019524,NaN,NaN,2009
6,2009-09-10,2009091000,2,1,2.0,12:40,13,3460.0,36.0,TEN,...,0.163935,0.578453,0.421547,0.582881,0.417119,0.421547,-0.004427,-0.010456,0.006029,2009
7,2009-09-10,2009091000,2,1,3.0,12:11,13,3431.0,29.0,TEN,...,NaN,0.582881,0.417119,0.617544,0.382456,0.417119,-0.034663,NaN,NaN,2009
8,2009-09-10,2009091000,2,1,4.0,11:34,12,3394.0,37.0,TEN,...,NaN,0.617544,0.382456,0.591489,0.408511,0.382456,0.026054,NaN,NaN,2009
9,2009-09-10,2009091000,3,1,1.0,11:24,12,3384.0,10.0,TEN,...,0.541602,0.591489,0.408511,0.585405,0.414595,0.591489,-0.006084,-0.024526,0.018442,2009
10,2009-09-10,2009091000,3,1,2.0,10:48,11,3348.0,36.0,TEN,...,1.807459,0.585405,0.414595,0.615159,0.384841,0.585405,0.029754,-0.030157,0.059911,2009
11,2009-09-10,2009091000,3,1,1.0,10:21,11,3321.0,27.0,TEN,...,NaN,0.615159,0.384841,0.597822,0.402178,0.615159,-0.017337,NaN,NaN,2009
12,2009-09-10,2009091000,3,1,2.0,09:43,10,3283.0,38.0,TEN,...,1.229360,0.597822,0.402178,0.607521,0.392479,0.597822,0.009699,-0.031783,0.041482,2009
13,2009-09-10,2009091000,3,1,3.0,09:01,10,3241.0,42.0,TEN,...,NaN,0.607521,0.392479,0.514075,0.485925,0.607521,-0.093445,NaN,NaN,2009
14,2009-09-10,2009091000,3,1,4.0,08:25,9,3205.0,36.0,TEN,...,NaN,0.514075,0.485925,0.521073,0.478927,0.514075,0.006997,NaN,NaN,2009
15,2009-09-10,2009091000,4,1,1.0,08:20,9,3200.0,5.0,TEN,...,NaN,0.521073,0.478927,0.399273,0.600727,0.478927,0.121800,NaN,NaN,2009
16,2009-09-10,2009091000,4,1,1.0,07:57,8,3177.0,23.0,PIT,...,0.137531,0.399273,0.600727,0.368797,0.631203,0.600727,0.030476,0.024894,0.005582,2009
17,2009-09-10,2009091000,4,1,1.0,07:24,8,3144.0,33.0,PIT,...,NaN,0.368797,0.631203,0.376194,0.623806,0.631203,-0.007397,NaN,NaN,2009
18,2009-09-10,2009091000,4,1,2.0,06:57,7,3117.0,27.0,PIT,...,-0.273617,0.376194,0.623806,0.400657,0.599343,0.623806,-0.024463,-0.015287,-0.009176,2009
19,2009-09-10,2009091000,4,1,3.0,06:52,7,3112.0,5.0,PIT,...,0.037212,0.400657,0.599343,0.430491,0.569509,0.599343,-0.029834,-0.030982,0.001148,2009
20,2009-09-10,2009091000,4,1,4.0,06:48,7,3108.0,4.0,PIT,...,NaN,0.430491,0.569509,0.528421,0.471579,0.569509,-0.097930,NaN,NaN,2009
21,2009-09-10,2009091000,5,1,1.0,06:44,7,3104.0,4.0,PIT,...,NaN,0.528421,0.471579,0.511082,0.488918,0.528421,-0.017339,NaN,NaN,2009
22,2009-09-10,2009091000,5,1,2.0,06:09,7,3069.0,35.0,PIT,...,NaN,0.511082,0.488918,0.491891,0.508109,0.511082,-0.019192,NaN,NaN,2009
23,2009-09-10,2009091000,5,1,3.0,05:27,6,3027.0,42.0,PIT,...,NaN,0.491891,0.508109,0.413994,0.586006,0.491891,-0.077897,NaN,NaN,2009
24,2009-09-10,2009091000,5,1,4.0,05:02,6,3002.0,25.0,PIT,...,NaN,0.413994,0.586006,0.475251,0.524749,0.413994,0.061257,NaN,NaN,2009
25,2009-09-10,2009091000,6,1,1.0,04:49,5,2989.0,13.0,TEN,...,1.504306,0.475251,0.524749,0.448998,0.551002,0.524749,0.026253,-0.018135,0.044387,2009
26,2009-09-10,2009091000,6,1,1.0,04:27,5,2967.0,22.0,TEN,...,NaN,0.448998,0.551002,0.470567,0.529433,0.551002,-0.021568,NaN,NaN,2009
27,2009-09-10,2009091000,6,1,1.0,04:07,5,2947.0,20.0,TEN,...,0.315907,0.470567,0.529433,0.454633,0.545367,0.529433,0.015933,0.007462,0.008471,2009
28,2009-09-10,2009091000,6,1,2.0,03:45,4,2925.0,22.0,TEN,...,NaN,0.454633,0.545367,0.464664,0.535336,0.545367,-0.010031,NaN,NaN,2009
29,2009-09-10,2009091000,6,1,3.0,03:06,4,2886.0,39.0,TEN,...,0.201069,0.464664,0.535336,0.422034,0.577966,0.535336,0.042630,0.038782,0.003848,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2009-09-10,2009091000,11,2,2.0,01:38,2,1898.0,22.0,PIT,...,0.218866,0.537307,0.462693,0.589619,0.410381,0.537307,0.052312,0.041118,0.011194,2009
71,2009-09-10,2009091000,11,2,NaN,01:29,2,1889.0,9.0,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2009
72,2009-09-10,2009091000,11,2,1.0,01:29,2,1889.0,0.0,TEN,...,0.000000,0.589619,0.410381,0.738386,0.261614,0.589619,0.148767,0.148767,0.000000,2009
73,2009-09-10,2009091000,11,2,NaN,01:22,2,1882.0,7.0,TEN,...,NaN,0.738386,0.261614,0.715750,0.284250,0.738386,-0.022636,NaN,NaN,2009
74,2009-09-10,2009091000,12,2,NaN,01:22,2,1882.0,0.0,PIT,...,NaN,0.715750,0.284250,0.705351,0.294649,0.284250,0.010400,NaN,NaN,2009
75,2009-09-10,2009091000,12,2,1.0,01:15,2,1875.0,7.0,TEN,...,-0.988674,0.705351,0.294649,0.713310,0.286690,0.294649,-0.007959,0.025911,-0.033870,2009
76,2009-09-10,2009091000,12,2,2.0,01:09,2,1869.0,6.0,TEN,...,0.845155,0.713310,0.286690,0.617306,0.382694,0.286690,0.096004,0.062619,0.033385,2009
77,2009-09-10,2009091000,12,2,NaN,00:54,1,1854.0,15.0,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2009
78,2009-09-10,2009091000,12,2,1.0,00:53,1,1853.0,1.0,PIT,...,0.000000,0.617306,0.382694,0.499662,0.500338,0.382694,0.117644,0.117644,0.000000,2009
79,2009-09-10,2009091000,12,2,NaN,00:48,1,1848.0,5.0,PIT,...,NaN,0.499662,0.500338,0.519191,0.480809,0.500338,-0.019529,NaN,NaN,2009
80,2009-09-10,2009091000,13,2,NaN,00:48,1,1848.0,0.0,TEN,...,NaN,0.519191,0.480809,0.525983,0.474017,0.519191,0.006792,NaN,NaN,2009
81,2009-09-10,2009091000,13,2,1.0,00:41,1,1841.0,7.0,PIT,...,0.108507,0.525983,0.474017,0.527188,0.472812,0.525983,0.001205,-0.002174,0.003380,2009
82,2009-09-10,2009091000,13,2,2.0,00:35,1,1835.0,6.0,PIT,...,0.000000,0.527188,0.472812,0.552483,0.447517,0.527188,0.025295,0.025295,0.000000,2009
83,2009-09-10,2009091000,13,2,NaN,00:27,1,1827.0,8.0,PIT,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2009
84,2009-09-10,2009091000,13,2,1.0,00:27,1,1827.0,0.0,PIT,...,-0.509636,0.552483,0.447517,0.569221,0.430779,0.552483,0.016738,0.033410,-0.016672,2009
85,2009-09-10,2009091000,13,2,1.0,00:21,1,1821.0,6.0,TEN,...,0.002546,0.569221,0.430779,0.560476,0.439524,0.569221,-0.008745,-0.008820,0.000076,2009
86,2009-09-10,2009091000,13,2,2.0,00:16,1,1816.0,5.0,TEN,...,NaN,0.560476,0.439524,0.539795,0.460205,0.560476,-0.020682,NaN,NaN,2009
87,2009-09-10,2009091000,13,2,NaN,00:07,1,1807.0,9.0,TEN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,2009
88,2009-09-10,2009091000,13,2,3.0,00:07,1,1807.0,0.0,PIT,...,NaN,0.539795,0.460205,0.532696,0.467304,0.539795,-0.007099,NaN,NaN,2009
89,2009-09-10,2009091000,13,2,3.0,00:01,1,1801.0,6.0,PIT,...,-6.235342,0.532696,0.467304,0.532696,0.467304,0.532696,0.000000,-0.532696,0.532696,2009
90,2009-09-10,2009091000,14,3,NaN,15:00,15,1800.0,1.0,PIT,...,NaN,0.497962,0.502038,0.494973,0.505027,0.502038,0.002988,NaN,NaN,2009
91,2009-09-10,2009091000,14,3,1.0,14:55,15,1795.0,5.0,TEN,...,NaN,0.494973,0.505027,0.478256,0.521744,0.505027,0.016717,NaN,NaN,2009
92,2009-09-10,2009091000,14,3,2.0,14:20,15,1760.0,35.0,TEN,...,NaN,0.478256,0.521744,0.427334,0.572666,0.521744,0.050923,NaN,NaN,2009
93,2009-09-10,2009091000,14,3,1.0,13:38,14,1718.0,42.0,TEN,...,NaN,0.427334,0.572666,0.425697,0.574303,0.572666,0.001637,NaN,NaN,2009
94,2009-09-10,2009091000,14,3,2.0,13:04,14,1684.0,34.0,TEN,...,1.204002,0.425697,0.574303,0.398391,0.601609,0.574303,0.027305,-0.013627,0.040932,2009
95,2009-09-10,2009091000,14,3,1.0,12:41,13,1661.0,23.0,PIT,...,NaN,0.398391,0.601609,0.417641,0.582359,0.601609,-0.019249,NaN,NaN,2009
96,2009-09-10,2009091000,14,3,2.0,12:06,13,1626.0,35.0,PIT,...,0.000000,0.417641,0.582359,0.574091,0.425909,0.582359,-0.156450,-0.156450,0.000000,2009
97,2009-09-10,2009091000,15,3,1.0,11:57,12,1617.0,9.0,PIT,...,NaN,0.574091,0.425909,0.596120,0.403880,0.574091,0.022029,NaN,NaN,2009
98,2009-09-10,2009091000,15,3,2.0,11:20,12,1580.0,37.0,TEN,...,NaN,0.596120,0.403880,0.587230,0.412770,0.596120,-0.008890,NaN,NaN,2009
99,2009-09-10,2009091000,15,3,3.0,10:37,11,1537.0,43.0,TEN,...,NaN,0.587230,0.412770,0.515547,0.484453,0.587230,-0.071683,NaN,NaN,2009

### 1. 統計所有欄位的 NA 值

In [13]:
# get the number of missing data points per column
missing_values_count = df.isnull().sum()
missing_values_count[:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

### 2. 去除 NA 值

In [14]:
# remove all the rows that contain a missing value
df.dropna()

Empty DataFrame
Columns: [Date, GameID, Drive, qtr, down, time, TimeUnder, TimeSecs, PlayTimeDiff, SideofField, yrdln, yrdline100, ydstogo, ydsnet, GoalToGo, FirstDown, posteam, DefensiveTeam, desc, PlayAttempted, Yards.Gained, sp, Touchdown, ExPointResult, TwoPointConv, DefTwoPoint, Safety, Onsidekick, PuntResult, PlayType, Passer, Passer_ID, PassAttempt, PassOutcome, PassLength, AirYards, YardsAfterCatch, QBHit, PassLocation, InterceptionThrown, Interceptor, Rusher, Rusher_ID, RushAttempt, RunLocation, RunGap, Receiver, Receiver_ID, Reception, ReturnResult, Returner, BlockingPlayer, Tackler1, Tackler2, FieldGoalResult, FieldGoalDistance, Fumble, RecFumbTeam, RecFumbPlayer, Sack, Challenge.Replay, ChalReplayResult, Accepted.Penalty, PenalizedTeam, PenaltyType, PenalizedPlayer, Penalty.Yards, PosTeamScore, DefTeamScore, ScoreDiff, AbsScoreDiff, HomeTeam, AwayTeam, Timeout_Indicator, Timeout_Team, posteam_timeouts_pre, HomeTimeouts_Remaining_Pre, AwayTimeouts_Remaining_Pre, HomeTimeouts_Remaining_Post, AwayTimeouts_Remaining_Post, No_Score_Prob, Opp_Field_Goal_Prob, Opp_Safety_Prob, Opp_Touchdown_Prob, Field_Goal_Prob, Safety_Prob, Touchdown_Prob, ExPoint_Prob, TwoPoint_Prob, ExpPts, EPA, airEPA, yacEPA, Home_WP_pre, Away_WP_pre, Home_WP_post, Away_WP_post, Win_Prob, WPA, airWPA, ...]
Index: []

[0 rows x 102 columns]

In [16]:
# remove all columns with at least one missing value
columns_with_na_dropped = df.dropna(axis=1)
columns_with_na_dropped.head()

,Date,GameID,Drive,qtr,TimeUnder,ydstogo,ydsnet,PlayAttempted,Yards.Gained,sp,...,Timeout_Indicator,Timeout_Team,posteam_timeouts_pre,HomeTimeouts_Remaining_Pre,AwayTimeouts_Remaining_Pre,HomeTimeouts_Remaining_Post,AwayTimeouts_Remaining_Post,ExPoint_Prob,TwoPoint_Prob,Season
0,2009-09-10,2009091000,1,1,15,0,0,1,39,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
1,2009-09-10,2009091000,1,1,15,10,5,1,5,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
2,2009-09-10,2009091000,1,1,15,5,2,1,-3,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
3,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009
4,2009-09-10,2009091000,1,1,14,8,2,1,0,0,...,0,None,3,3,3,3,3,0.0,0.0,2009

In [21]:
# just how much data did we lose?
print("Columns in original dataset: %d \n" % df.shape[1])
print("Columns with na's dropped: %d" % columns_with_na_dropped.shape[1])

Columns in original dataset: 102

Columns with na's dropped: 41

### 3. 資料自動填補值的操作

In [37]:
# get a small subset of the NFL dataset
subset_df = df.loc[:, 'EPA':'Season'].head()
subset_df

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,NaN,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,NaN,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,NaN,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [38]:
# replace all NA's with 0
subset_df.fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,0.000000,0.000000,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,0.000000,0.000000,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,0.000000,0.000000,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.000000,0.000000,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

In [39]:
# replace all NA's the value that comes directly after it in the same column, 
# then replace all the reamining na's with 0
subset_df.fillna(method = 'bfill', axis=0).fillna(0)

,EPA,airEPA,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2.014474,-1.068169,1.146076,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,-0.032244,0.036899,2009
1,0.077907,-1.068169,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,-1.402760,3.318841,-5.031425,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,0.106663,-0.156239,2009
3,-1.712583,3.318841,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2.097796,0.000000,0.000000,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,0.000000,0.000000,2009

# 時間日期處理

In [181]:
import pandas as pd

df = pd.read_csv('data/catalog.csv')
df.shape

(1693, 23)

In [182]:
df.head()

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,geolocation,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link
0,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,"(38.600900000000003, -77.268199999999993)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html
1,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,"(40.517499999999998, -81.430499999999995)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...
2,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,"(40.4377, -79.915999999999997)",Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...
3,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,"(45.322600000000001, -73.777100000000004)",Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...
4,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,"(37.432499999999997, -82.493099999999998)",Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN

### 1. 時間日期欄位轉換

In [183]:
# print the first few rows of the date column
print(df['date'].head(10))

0     3/2/07
1    3/22/07
2     4/6/07
3    4/14/07
4    4/15/07
5    4/20/07
6    4/24/07
7    5/21/07
8    6/27/07
9    6/27/07
Name: date, dtype: object

In [184]:
df['date'].dtype

dtype('O')

In [185]:
# convert to datetime format
df['date_parsed'] = pd.to_datetime(df['date'], format = "%m/%d/%y")

In [186]:
print(df['date_parsed'].head(10))

0   2007-03-02
1   2007-03-22
2   2007-04-06
3   2007-04-14
4   2007-04-15
5   2007-04-20
6   2007-04-24
7   2007-05-21
8   2007-06-27
9   2007-06-27
Name: date_parsed, dtype: datetime64[ns]

In [187]:
# set index to date
df = df.set_index(df['date_parsed'])
df =df.sort_index()
df = df[df.index.notnull()]
df.head(10)

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link,date_parsed
date_parsed,,,,,,,,,,,,,,,,,,,,,
2007-03-02,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html,2007-03-02
2007-03-22,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...,2007-03-22
2007-04-06,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...,2007-04-06
2007-04-13,7399,4/13/07,NaN,NaN,United States,US,Pennsylvania,3165,Homestead,3.74490,...,Landslide,Landslide,Medium,Unknown,NaN,0.0,0.0,WTAE,https://web.archive.org/web/20080423132842/htt...,2007-04-13
2007-04-14,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...,2007-04-14
2007-04-15,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN,2007-04-15
2007-04-20,64,4/20/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,0.23715,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Applalachain news-express,http://www.news-expressky.com/articles/2007/04...,2007-04-20
2007-04-24,67,4/24/07,NaN,NaN,United States,US,South Dakota,2540,Dakota Dunes,2.48033,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Sioux City Journnal,http://www.siouxcityjournal.com/articles/2007/...,2007-04-24
2007-05-21,77,5/21/07,NaN,SA,Colombia,CO,Risaralda,440118,Pereira,0.62022,...,Landslide,Mudslide,Large,Rain,NaN,NaN,13.0,Reuters - AlertNet.org,http://www.reuters.com/news/video/videoStory?v...,2007-05-21
2007-06-01,6253,6/1/07,NaN,NaN,United States,US,Colorado,1864,Granby,5.53226,...,Landslide,Landslide,Medium,Unknown,NaN,0.0,0.0,Sky-Hi News,http://www.skyhidailynews.com/news/13393638-11...,2007-06-01

In [188]:
# select row bt date
df["2007-03":"2007-05"]

,id,date,time,continent_code,country_name,country_code,state/province,population,city/town,distance,...,hazard_type,landslide_type,landslide_size,trigger,storm_name,injuries,fatalities,source_name,source_link,date_parsed
date_parsed,,,,,,,,,,,,,,,,,,,,,
2007-03-02,34,3/2/07,Night,NaN,United States,US,Virginia,16000,Cherry Hill,3.40765,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,NBC 4 news,http://www.nbc4.com/news/11186871/detail.html,2007-03-02
2007-03-22,42,3/22/07,NaN,NaN,United States,US,Ohio,17288,New Philadelphia,3.33522,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Canton Rep.com,http://www.cantonrep.com/index.php?ID=345054&C...,2007-03-22
2007-04-06,56,4/6/07,NaN,NaN,United States,US,Pennsylvania,15930,Wilkinsburg,2.91977,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,The Pittsburgh Channel.com,https://web.archive.org/web/20080423132842/htt...,2007-04-06
2007-04-13,7399,4/13/07,NaN,NaN,United States,US,Pennsylvania,3165,Homestead,3.74490,...,Landslide,Landslide,Medium,Unknown,NaN,0.0,0.0,WTAE,https://web.archive.org/web/20080423132842/htt...,2007-04-13
2007-04-14,59,4/14/07,NaN,NaN,Canada,CA,Quebec,42786,Châteauguay,2.98682,...,Landslide,Riverbank collapse,Small,Rain,NaN,NaN,NaN,Le Soleil,http://www.hebdos.net/lsc/edition162007/articl...,2007-04-14
2007-04-15,61,4/15/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,5.66542,...,Landslide,Landslide,Small,Downpour,NaN,NaN,0.0,Matthew Crawford (KGS),NaN,2007-04-15
2007-04-20,64,4/20/07,NaN,NaN,United States,US,Kentucky,6903,Pikeville,0.23715,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Applalachain news-express,http://www.news-expressky.com/articles/2007/04...,2007-04-20
2007-04-24,67,4/24/07,NaN,NaN,United States,US,South Dakota,2540,Dakota Dunes,2.48033,...,Landslide,Landslide,Small,Rain,NaN,NaN,NaN,Sioux City Journnal,http://www.siouxcityjournal.com/articles/2007/...,2007-04-24
2007-05-21,77,5/21/07,NaN,SA,Colombia,CO,Risaralda,440118,Pereira,0.62022,...,Landslide,Mudslide,Large,Rain,NaN,NaN,13.0,Reuters - AlertNet.org,http://www.reuters.com/news/video/videoStory?v...,2007-05-21

### 2. 時間序列解析度操作

In [189]:
# select sub df
df = df[~df.index.duplicated(keep='first')]
sub_df = df.loc[:,['population', 'distance']].head(10)
sub_df

             population  distance
date_parsed
2007-03-02        16000   3.40765
2007-03-22        17288   3.33522
2007-04-06        15930   2.91977
2007-04-13         3165   3.74490
2007-04-14        42786   2.98682
2007-04-15         6903   5.66542
2007-04-20         6903   0.23715
2007-04-24         2540   2.48033
2007-05-21       440118   0.62022
2007-06-01         1864   5.53226

In [190]:
# resample interval to 1 day.
sub_df.resample('1D').asfreq()

             population  distance
date_parsed
2007-03-02      16000.0   3.40765
2007-03-03          NaN       NaN
2007-03-04          NaN       NaN
2007-03-05          NaN       NaN
2007-03-06          NaN       NaN
2007-03-07          NaN       NaN
2007-03-08          NaN       NaN
2007-03-09          NaN       NaN
2007-03-10          NaN       NaN
2007-03-11          NaN       NaN
2007-03-12          NaN       NaN
2007-03-13          NaN       NaN
2007-03-14          NaN       NaN
2007-03-15          NaN       NaN
2007-03-16          NaN       NaN
2007-03-17          NaN       NaN
2007-03-18          NaN       NaN
2007-03-19          NaN       NaN
2007-03-20          NaN       NaN
2007-03-21          NaN       NaN
2007-03-22      17288.0   3.33522
2007-03-23          NaN       NaN
2007-03-24          NaN       NaN
2007-03-25          NaN       NaN
2007-03-26          NaN       NaN
2007-03-27          NaN       NaN
2007-03-28          NaN       NaN
2007-03-29          NaN       NaN
2007-03-30          NaN       NaN
2007-03-31          NaN       NaN
...                 ...       ...
2007-05-03          NaN       NaN
2007-05-04          NaN       NaN
2007-05-05          NaN       NaN
2007-05-06          NaN       NaN
2007-05-07          NaN       NaN
2007-05-08          NaN       NaN
2007-05-09          NaN       NaN
2007-05-10          NaN       NaN
2007-05-11          NaN       NaN
2007-05-12          NaN       NaN
2007-05-13          NaN       NaN
2007-05-14          NaN       NaN
2007-05-15          NaN       NaN
2007-05-16          NaN       NaN
2007-05-17          NaN       NaN
2007-05-18          NaN       NaN
2007-05-19          NaN       NaN
2007-05-20          NaN       NaN
2007-05-21     440118.0   0.62022
2007-05-22          NaN       NaN
2007-05-23          NaN       NaN
2007-05-24          NaN       NaN
2007-05-25          NaN       NaN
2007-05-26          NaN       NaN
2007-05-27          NaN       NaN
2007-05-28          NaN       NaN
2007-05-29          NaN       NaN
2007-05-30          NaN       NaN
2007-05-31          NaN       NaN
2007-06-01       1864.0   5.53226

[92 rows x 2 columns]

In [191]:
# bfill
sub_df.resample('1D').bfill()

             population  distance
date_parsed
2007-03-02        16000   3.40765
2007-03-03        17288   3.33522
2007-03-04        17288   3.33522
2007-03-05        17288   3.33522
2007-03-06        17288   3.33522
2007-03-07        17288   3.33522
2007-03-08        17288   3.33522
2007-03-09        17288   3.33522
2007-03-10        17288   3.33522
2007-03-11        17288   3.33522
2007-03-12        17288   3.33522
2007-03-13        17288   3.33522
2007-03-14        17288   3.33522
2007-03-15        17288   3.33522
2007-03-16        17288   3.33522
2007-03-17        17288   3.33522
2007-03-18        17288   3.33522
2007-03-19        17288   3.33522
2007-03-20        17288   3.33522
2007-03-21        17288   3.33522
2007-03-22        17288   3.33522
2007-03-23        15930   2.91977
2007-03-24        15930   2.91977
2007-03-25        15930   2.91977
2007-03-26        15930   2.91977
2007-03-27        15930   2.91977
2007-03-28        15930   2.91977
2007-03-29        15930   2.91977
2007-03-30        15930   2.91977
2007-03-31        15930   2.91977
...                 ...       ...
2007-05-03       440118   0.62022
2007-05-04       440118   0.62022
2007-05-05       440118   0.62022
2007-05-06       440118   0.62022
2007-05-07       440118   0.62022
2007-05-08       440118   0.62022
2007-05-09       440118   0.62022
2007-05-10       440118   0.62022
2007-05-11       440118   0.62022
2007-05-12       440118   0.62022
2007-05-13       440118   0.62022
2007-05-14       440118   0.62022
2007-05-15       440118   0.62022
2007-05-16       440118   0.62022
2007-05-17       440118   0.62022
2007-05-18       440118   0.62022
2007-05-19       440118   0.62022
2007-05-20       440118   0.62022
2007-05-21       440118   0.62022
2007-05-22         1864   5.53226
2007-05-23         1864   5.53226
2007-05-24         1864   5.53226
2007-05-25         1864   5.53226
2007-05-26         1864   5.53226
2007-05-27         1864   5.53226
2007-05-28         1864   5.53226
2007-05-29         1864   5.53226
2007-05-30         1864   5.53226
2007-05-31         1864   5.53226
2007-06-01         1864   5.53226

[92 rows x 2 columns]

# 資料分割選擇與合併

## 1. .iloc vs loc

![](http://104.236.88.249/wp-content/uploads/2016/10/Pandas-selections-and-indexing.png)

In [206]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.random.randn(4,4), columns=['a', 'b', 'c', 'd'])

In [207]:
df

          a         b         c         d
0 -0.400363  1.141485  0.821102  0.237137
1 -0.122230  0.293221 -1.318223  0.765636
2  1.530837 -0.730529 -0.614539 -0.639149
3 -0.201329  1.279875  1.875210  0.466313

In [242]:
# iloc index based index slelction
df.iloc[:2,[0,2]]

          a         c
0  1.574904 -0.263963
1 -1.377969  2.188388

In [243]:
# loc label based index slelction
df.loc[:1,['a', 'c']]

          a         c
0  1.574904 -0.263963
1 -1.377969  2.188388

### 兩者容易混淆之處

In [235]:
df = pd.DataFrame(np.random.randn(4,4), columns=['a', 'b', 'c', 'd'], index=[0, 1, 8, 3])
df

          a         b         c         d
0  1.574904 -0.008773 -0.263963 -0.806723
1 -1.377969  0.754676  2.188388 -0.243525
8  0.328553 -1.505490 -0.161446  1.653918
3  0.565548  0.072182 -2.720340  0.950584

### 選取 3, 4 列作法:

In [241]:
# iloc
df.iloc[2:4,:]

          a         b         c         d
8  0.328553 -1.505490 -0.161446  1.653918
3  0.565548  0.072182 -2.720340  0.950584

In [ ]:
# loc
df.loc[2:4,:]

In [239]:
# loc 正確 index 取法
df.loc[8:3,:]

          a         b         c         d
8  0.328553 -1.505490 -0.161446  1.653918
3  0.565548  0.072182 -2.720340  0.950584

## 2. 合併 concat

In [262]:
df1 = pd.DataFrame(np.random.randn(4,5), columns=['a', 'b', 'c', 'd', 'e'])
df2 = pd.DataFrame(np.random.randn(6,4), columns=['g', 'y', 'k', 'f'])
print(df1.shape)
print(df2.shape)

(4, 5)
(6, 4)

In [263]:
# 列方向合併 (上下)
merge_df = pd.concat([df1, df2], axis=0)
merge_df

,a,b,c,d,e,f,g,k,y
0,-0.919846,-0.495675,1.911603,1.309731,0.399571,NaN,NaN,NaN,NaN
1,-0.494185,-1.246625,0.074627,-0.725263,0.814656,NaN,NaN,NaN,NaN
2,-1.453585,0.908129,1.105333,0.108686,0.420912,NaN,NaN,NaN,NaN
3,0.763184,-0.427747,0.844336,-0.915844,-1.432858,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,0.918278,1.002602,-0.174406,-0.910231
1,NaN,NaN,NaN,NaN,NaN,1.493787,1.015558,-0.517051,-0.790699
2,NaN,NaN,NaN,NaN,NaN,0.080813,0.035731,-1.578405,0.119997
3,NaN,NaN,NaN,NaN,NaN,-0.402318,-2.018605,0.268080,-0.988506
4,NaN,NaN,NaN,NaN,NaN,0.741613,-0.415160,-0.330801,0.301276
5,NaN,NaN,NaN,NaN,NaN,0.810024,1.609868,0.397550,-0.338401

In [264]:
print(merge_df.shape)

(10, 9)

In [265]:
# 行方向合併 (左右)
merge_df = pd.concat([df1, df2], axis=1)
merge_df

,a,b,c,d,e,g,y,k,f
0,-0.919846,-0.495675,1.911603,1.309731,0.399571,1.002602,-0.910231,-0.174406,0.918278
1,-0.494185,-1.246625,0.074627,-0.725263,0.814656,1.015558,-0.790699,-0.517051,1.493787
2,-1.453585,0.908129,1.105333,0.108686,0.420912,0.035731,0.119997,-1.578405,0.080813
3,0.763184,-0.427747,0.844336,-0.915844,-1.432858,-2.018605,-0.988506,0.268080,-0.402318
4,NaN,NaN,NaN,NaN,NaN,-0.415160,0.301276,-0.330801,0.741613
5,NaN,NaN,NaN,NaN,NaN,1.609868,-0.338401,0.397550,0.810024

In [266]:
merge_df.shape

(6, 9)

## reference

1. https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values
2. http://www.learningthemachine.com/2017/08/20/review-pandas-loc-vs-iloc/